@charset "utf-8";

body{
    background-repeat: no-repeat;
   

}

.container{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100vh;
    justify-content: center;
    margin-left: 50%;
    transform: translate(-45%);
    width: 35%;
}

